.box {
  height: 300px;
  background-size: contain;
}
.box.kids {
  background-image: url("../img/kids.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.box.mystery {
  background-image: url("../img/mystery.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.box.fiction {
  background-image: url("../img/fiction.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.box.teens {
  background-image: url("../img/teens.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.box.self {
  background-image: url("../img/self.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.box.scifi {
  background-image: url("../img/scifi.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.box.nonfiction {
  background-image: url("../img/nonfiction.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/*! normalize.css v7.0.0 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0;
}

/**
 * Add the correct display in IE 9-.
 */
article,
aside,
footer,
header,
nav,
section {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */
figcaption,
figure,
main {
  /* 1 */
  display: block;
}

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px;
}

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */
}

/**
 * 1. Remove the bottom border in Chrome 57- and Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic;
}

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000;
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
audio,
video {
  display: inline-block;
}

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none;
}

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */
details,
menu {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Scripting
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block;
}

/**
 * Add the correct display in IE.
 */
template {
  display: none;
}

/* Hidden
   ========================================================================== */
/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none;
}

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: '';
  content: none;
}

q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: "Dosis", sans-serif;
  position: relative;
}
body::after {
  content: "";
  background: url("../img/body-bg.jpg");
  opacity: 0.1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  background-size: cover;
  z-index: -1;
}

a {
  color: white;
}

main {
  max-width: 1470px;
  margin: 0 auto;
  background-color: inherit;
}
@media (min-width: 1470px) {
  main {
    padding-left: 20px;
  }
}

span {
  font-weight: bolder;
  font-size: 25px;
}

header {
  background-color: #daffcd;
  overflow: auto;
  padding: 0 2%;
}
header img {
  float: left;
  height: 124px;
}
header .login {
  display: inline-block;
  float: right;
  text-align: right;
  padding-top: 5px;
  width: 300px;
}
@media (max-width: 660px) {
  header .login {
    display: none;
  }
}
header button, header input {
  margin: 5px;
}

section {
  margin-bottom: 60px;
  border-top: 2px dashed #1d2742;
  overflow: hidden;
  background-color: white;
  padding-bottom: 20px;
}
section::after {
  clear: both;
  content: "";
  display: table;
}

section:last-of-type {
  overflow: visible;
  margin-bottom: 100px;
}

nav ul {
  background-color: #1d2742;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
nav ul li {
  display: inline-block;
  padding: 1%;
  width: 10%;
  text-align: center;
}
nav ul li:hover {
  background-color: #daffcd;
}
nav ul li:hover a {
  color: #1d2742;
}
@media (max-width: 660px) {
  nav {
    display: none;
  }
}

.sliding-panel-content {
  position: fixed;
  top: 0;
  right: auto;
  bottom: 0;
  left: 0;
  width: 220px;
  height: 100%;
  background: #404040;
  -webkit-overflow-scrolling: touch;
  overflow-y: auto;
  transform: translateX(-220px);
  transition: all 0.25s linear;
  z-index: 999999;
}
.sliding-panel-content ul {
  padding: 0;
  margin: 0;
}
.sliding-panel-content li {
  list-style: none;
}
.sliding-panel-content li a {
  border-bottom: 1px solid #333;
  color: #fff;
  display: block;
  font-weight: bold;
  padding: 1em;
  text-decoration: none;
}
.sliding-panel-content li a:focus {
  background-color: #4d4d4d;
}
.sliding-panel-content li a:hover {
  background-color: #477DCA;
  color: #fff;
}
.sliding-panel-content.is-visible {
  transform: translateX(0);
}

.sliding-panel-fade-screen {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: black;
  opacity: 0;
  transition: all 0.2s ease-in-out;
  visibility: hidden;
  z-index: 999998;
}
.sliding-panel-fade-screen.is-visible {
  opacity: 0.4;
  visibility: visible;
}

.sliding-panel-button {
  cursor: pointer;
  display: inline-block;
  outline: none;
  padding: 10px 16px;
  position: relative;
}
.sliding-panel-button img {
  height: 1.3em;
}

.side-content {
  width: 15%;
  float: left;
  background-color: #F4817B;
  padding-bottom: 30000px;
  margin-bottom: -30000px;
}
.side-content h2 {
  text-align: center;
  color: white;
  font-size: 50px;
  transform: rotate(-90deg);
  margin-top: 200px;
  white-space: pre;
}
@media (max-width: 660px) {
  .side-content h2 {
    margin-top: 250px;
  }
}

.last-side {
  padding-bottom: 400px;
  margin-bottom: -400px;
}
@media (max-width: 660px) {
  .last-side {
    padding-bottom: 780px;
    margin-bottom: -780px;
  }
}

footer {
  color: white;
  background-color: #1d2742;
  height: 100px;
  text-align: center;
  transform: skewY(-4deg);
}
footer img {
  width: 28px;
  padding: 10px 5px;
}

button {
  background-color: #e7e1d5;
  background-image: -webkit-linear-gradient(top, #e7e1d5 0%, #afafb4 50%, #9196a5 50%, #989ba7 100%);
  background-image: linear-gradient(to bottom,#e7e1d5 0%, #afafb4 50%, #9196a5 50%, #989ba7 100%);
  border: 1px solid #727284;
  border-bottom: 1px solid #69625b;
  border-radius: 5px;
  box-shadow: inset 0 1px 0 0 #fffee1;
  color: #333333;
  display: inline-block;
  font-size: inherit;
  font-weight: bold;
  padding: 7px 18px;
  text-align: center;
  text-decoration: none;
  text-shadow: 0 -1px 1px #f1ebe0;
  color: #3d4f80;
}
button:hover:not(:disabled) {
  background-color: #dad2c3;
  background-image: -webkit-linear-gradient(top, #dad2c3 0%, #a5a3a2 50%, #8a8c93 50%, #919196 100%);
  background-image: linear-gradient(to bottom,#dad2c3 0%, #a5a3a2 50%, #8a8c93 50%, #919196 100%);
  cursor: pointer;
}
button:active:not(:disabled), button:focus:not(:disabled) {
  box-shadow: inset 0 0 20px 0 #786d5b;
}
button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.sliding-panel-button {
  display: none;
}
@media (max-width: 660px) {
  .sliding-panel-button {
    display: block;
    float: right;
    margin-top: 42.5px;
  }
}

.boxes {
  width: 85%;
  max-width: 1240px;
  float: right;
}
.boxes h2 {
  font-family: "Advent Pro", sans-serif;
  font-weight: bolder;
  color: white;
  font-size: 40px;
  text-align: center;
  text-shadow: 2px 2px 2px #3d4f80;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
}
@media (max-width: 1100px) {
  .boxes h2 {
    font-size: 25px;
  }
}
.boxes::after {
  clear: both;
  content: "";
  display: table;
}
.boxes > :hover:not(.wrapper) {
  border: 1px solid black;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  opacity: 1;
}
.boxes .wrapper > :hover {
  border: 1px solid black;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  opacity: 1;
}

.box {
  position: relative;
  opacity: .7;
  margin-top: 20px;
  width: calc(25% - 25px);
  float: left;
  margin-left: 20px;
}
@media (max-width: 800px) {
  .box {
    margin-top: 20px;
    width: calc(50% - 30px);
    float: left;
    margin-left: 20px;
  }
  .box.scifi, .box.kids {
    margin-top: 20px;
    width: calc(100% - 40px);
    float: left;
    margin-left: 20px;
  }
}

.wrapper {
  width: 75.5%;
  float: left;
}
.wrapper::after {
  clear: both;
  content: "";
  display: table;
}
@media (max-width: 800px) {
  .wrapper {
    width: 100%;
  }
  .wrapper .box {
    width: calc(100% - 40px);
    float: left;
    margin-left: 20px;
  }
}
.wrapper .wide-box {
  margin-top: 20px;
  width: calc(100% - 40px);
  float: left;
  margin-left: 20px;
  position: relative;
  background-image: url("../img/all.jpg");
  opacity: .7;
  background-size: cover;
  background-position: 10% 50%;
  height: 300px;
}
.wrapper .box {
  width: calc(33.33333% - 26.66667px);
  float: left;
  margin-left: 20px;
}
@media (max-width: 800px) {
  .wrapper .box {
    width: calc(100% - 40px);
    float: left;
    margin-left: 20px;
  }
}

.tall-box {
  margin-top: 20px;
  width: calc(25% - 25px);
  float: left;
  margin-left: 20px;
  font-size: 20px;
  text-align: center;
  color: #3d4f80;
  width: calc(24.5% - 20px);
  margin-left: 0;
  margin-right: 20px;
  overflow: hidden;
  background-color: #e7e1d5;
  height: calc(300px * 2 + 20px);
}
.tall-box ol li {
  padding: 5% 5px;
}
@media (max-width: 800px) {
  .tall-box {
    margin-top: 20px;
    width: calc(50% - 30px);
    float: left;
    margin-left: 20px;
    float: right;
  }
}

.cards {
  width: 85%;
  float: right;
  max-width: 1240px;
}

.card {
  width: calc(50% - 30px);
  float: left;
  margin-left: 20px;
  border: 1px solid black;
  float: left;
  margin-top: 20px;
  font-size: 20px;
  text-align: center;
  color: #3d4f80;
}
.card img {
  max-height: 400px;
  width: 50%;
  float: left;
}
@media (max-width: 660px) {
  .card {
    width: calc(100% - 40px);
    float: left;
    margin-left: 20px;
  }
}

.card-content {
  width: 50%;
  float: right;
  text-align: center;
}

.events {
  width: 85%;
  max-width: 1240px;
  float: right;
}
.events::after {
  clear: both;
  content: "";
  display: table;
}

.event {
  margin-top: 20px;
  width: calc(50% - 30px);
  float: left;
  margin-left: 20px;
}
@media (max-width: 660px) {
  .event {
    width: calc(100% - 40px);
    float: left;
    margin-left: 20px;
  }
}
.event .event-bg {
  position: relative;
  background-image: url(../img/jack.jpg);
  background-size: cover;
  background-position: center;
  height: 250px;
}
.event .event2 {
  position: relative;
  background-image: url(../img/storytelling.jpg);
  background-size: cover;
  background-position: 80%;
  height: 250px;
}
.event h2 {
  font-family: "Advent Pro", sans-serif;
  font-weight: bolder;
  color: white;
  font-size: 40px;
  text-align: center;
  text-shadow: 2px 2px 2px #3d4f80;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
}
.event:hover {
  border: 1px solid black;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  opacity: 1;
}
.event p {
  font-size: 20px;
  text-align: center;
  color: #3d4f80;
}

.hover-tile-outer {
  background: url("https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/mountains.png");
  background-color: beige;
  background-position: top;
  background-size: cover;
  border: 1px solid gainsboro;
  cursor: pointer;
  height: 10em;
}
.hover-tile-outer .hover-tile-container {
  height: 10em;
  overflow: hidden;
}
.hover-tile-outer .hover-tile-container:hover > .hover-tile {
  transform: translate(0, -100%);
}
.hover-tile-outer .hover-tile {
  background: inherit;
  color: white;
  height: inherit;
  overflow: hidden;
  padding: 1.5em;
  transition: all 0.2s ease-in-out;
}
.hover-tile-outer .hover-tile-hidden {
  background: rgba(0, 0, 0, 0.5);
}
.hover-tile-outer .hover-tile-hidden p {
  color: rgba(255, 255, 255, 0.7);
  line-height: 1.5em;
}
.hover-tile-outer .hover-tile-hidden h4 {
  margin: 0 0 0.5em 0;
}

/*# sourceMappingURL=main.css.map */
