@mixin border-box {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@mixin box-style($columns) {
  margin-top: 20px;
  // background-color: $color-neutral;
  @include grid-column($columns);
}


@mixin textHeader{
  font-family: $secondary-text;
  font-weight: bolder;
  color: white;
  font-size: 40px;
  text-align: center;
  text-shadow: 2px 2px 2px $color-primary-2;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  @include position(absolute, 50% null null 50%);
}

@mixin textP{
  font-size: 20px;
  text-align: center;
  color: $color-primary-2;
}

@mixin hoverBox {
  border: 1px solid black;
  @include box-sizing(border-box);
  opacity: 1;
}
