	// Main Primary color */
$color-primary-1: #1d2742;
$color-primary-2: #3d4f80;

// Main Secondary color (1) */
$color-secondary-1: #263F1C;
$color-secondary-2: #daffcd;

	// Main Secondary color (2) */
$color-tertriary-1: #F4817B;
$color-tertriary-2: #FFCBC8;
$color-neutral: #e7e1d5;


$primary-text: 'Abril Fatface', cursive;
$secondary-text: 'Advent Pro', sans-serif;
$normal-text: 'Dosis', sans-serif;




$page-padding: 0 5%;

// section 1 pics
$icons-dir: "../img";

$box-height: 300px;

$breakpoints: (
  'x-small': (max-width: 415px),
  'small': (max-width: 660px),
  'medium': (max-width: 800px),
  'large': (max-width: 1100px),
  'x-large': (min-width: 1470px),
);
