section {
  @include clearfix;
  margin-bottom: 60px;
  border-top: 2px dashed $color-primary-1;
  overflow: hidden;
  background-color: white;
  padding-bottom: 20px;
}

section:last-of-type {
  overflow: visible;
  margin-bottom: 100px;
}
