.boxes {
  width: 85%;
  max-width: 1240px;
  float: right;
  @include clearfix;
}

.box {
  @include box-style(200px, 3);
}

.wrapper{
  width: 75.5%;
  float:left;
  @include clearfix;
  .wide-box {
    @include box-style(200px, 12);
  }
  .box {
    @include grid-column(4);
  }
}


.tall-box {
  @include box-style(420px, 3);
  width: calc(24.5% - 20px);
  margin-left: 0;
  margin-right: 20px;
  overflow: hidden;
}
