.boxes {
  width: 85%;
  max-width: 1240px;
  float: right;
  h2{
    @include textHeader;
  }

  @include clearfix;
  & >:hover:not(.wrapper) {
    @include hoverBox;
  }
  .wrapper >:hover {
    @include hoverBox;
  }
}

.box {
  position: relative;
  opacity: .7;
  @include box-style(3);
}

.wrapper{
  width: 75.5%;
  float:left;
  @include clearfix;
  .wide-box {
    @include box-style(12);
    position: relative;
    background-image: url('../img/all.jpg');
    opacity: .7;
    background-size: cover;
    background-position: 10% 50%;
    height: $box-height;

  }
  .box {
    @include grid-column(4);
  }
}

.tall-box {
  @include box-style(3);
  @include textP;
  width: calc(24.5% - 20px);
  margin-left: 0;
  margin-right: 20px;
  overflow: hidden;
  background-color: $color-neutral;
  height: calc(#{$box-height} * 2 + 20px);
  ol li{
    padding:5% 5px;
  }
}
