.cards {
  width: 85%;
  float: right;
  max-width: 1240px;
}

.card {
  @include grid-column(6);
  border: 1px solid black;
  float: left;
  margin-top: 20px;
  img {
    height: 400px;
    width: 50%;
    float: left;
  }
}

.card-content {
  width: 50%;
  float: right;
  text-align: center;
}
