.events {
  width: 85%;
  max-width: 1240px;
  float: right;
  @include clearfix;
}

.event {
  @include box-style(6);
  .event-bg {
    position: relative;
    background-image: url(../img/jack.jpg);
    background-size: cover;
    background-position: center ;
    height:250px;
  }
  h2 {
    @include textHeader;
  }
  &:hover {
    @include hoverBox;
  }
  p {
    @include textP;
  }
}
