body {
  font-family: $normal-text;
  position: relative;
  &::after {
    content: "";
    background: url('../img/body-bg.jpg');
    opacity: 0.1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    background-size: cover;
    z-index: -1;
  }
}

a {
  color: white;
}
main{
  max-width: 1470px;
  margin:0 auto;
  background-color: inherit;
  @include respond-to('x-large') {
    padding-left: 20px;
  };
}

span {
  font-weight: bolder;
  font-size: 25px;
}
